<form ng-submit="send()">
    <p class="help-block">Zadejte e-mailovou adresu, se kterou se přihlašujete do systému.</p>
    <div class="form-group">
        <label for="email">E-mailová adresa</label>
        <input id="email" class="form-control" type="email" ng-model="email" required="required">
    </div>

    <button id="send" class="btn btn-primary btn-block" type="submit" ng-disabled="sending"><i ng-if="sending" class="glyphicon glyphicon-refresh spinner"></i>{{sending ? ' Odesílám…' : 'Odeslat'}}</button>
</form>