<p>Tento informační systém vznikl v rámci bakalářské práce na ČVUT FIT.</p>
<p>Kompletní <a href="https://github.com/markatom/bp" target="_blank">zdrojové kódy</a> jsou přístupné on-line.</p>
<p>Pro přihlášení do systému využijte demo účet s e-mailovou adresou „demo@example.net“ a heslem „cvutfit“.</p>
<p>Systém je vždy o půlnoci resetován do původního stavu.</p>

<form ng-submit="signIn()" class="sign-in">
    <div class="form-group">
        <label for="email">E-mailová adresa</label>
        <input id="email" class="form-control" type="email" ng-model="email" required="required">
    </div>

    <div class="form-group">
        <label for="password">Heslo</label>
        <input id="password" class="form-control" type="password" ng-model="password" required="required">
    </div>

    <div class="checkbox">
        <label>
            <input id="longLife" type="checkbox" ng-model="longLife"> Zůstat přihlášen
        </label>
    </div>

    <a ui-sref="welcome.lostPassword">Zapomněli jste heslo?</a>

    <button id="signIn" class="btn btn-primary btn-block" type="submit" ng-disabled="signing"><i ng-if="signing" class="glyphicon glyphicon-refresh spinner"></i>{{signing ? ' Přihlašuji…' : 'Přihlásit'}}</button>
</form>