<table class="table table-hover">
    <thead>
    <tr>
        <th>Název</th>
        <th>Velikost</th>
        <th>Vytvořeno</th>
        <th>
            <a id="add" class="btn btn-success" ngf-select ngf-change="upload($files)" title="Nový dokument" ng-disabled="uploading"><i class="glyphicon" ng-class="{'glyphicon-plus': !uploading, 'glyphicon-refresh': uploading, 'spinner': uploading}"></i></a>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" id="generate" data-toggle="dropdown" ng-disabled="generating">
                    <i class="glyphicon glyphicon-file" ng-if="!generating"></i>
                    <i class="glyphicon glyphicon-refresh spinner" ng-if="generating"></i>
                    {{generating ? 'Generuji...' : 'Generovat...'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="generate('poa')">Plná moc</a></li>
                </ul>
            </div>
            <script>
                $('.dropdown-toggle').dropdown();
            </script>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="document in documents">
        <td>{{document.name}}</td>
        <td>{{document.formattedSize}}</td>
        <td>{{document.createdAt|date:'d. M. yyyy'}}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-default" ng-click="download(document.id)" title="Stáhnout">
                    <i class="glyphicon glyphicon-download-alt"></i>
                </a>
                <a class="btn btn-danger" ng-class="{disabled: deleting[document.id]}" ng-click="delete(document.id)" title="Smazat">
                    <i class="glyphicon" ng-class="{'glyphicon-remove': !deleting[document.id], 'spinner': deleting[document.id], 'glyphicon-refresh': deleting[document.id]}"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div ng-if="!documents.length">
    Zatím zde nejsou žádné dokumenty.
</div>