<div class="messages">
    <div class="pull-right">
        <a href="#" class="btn btn-success" ui-sref="app.order.tabs.message.send">
            <i class="glyphicon glyphicon-send"></i>
            Odeslat novou zprávu
        </a>
        <a href="#" class="btn btn-default" ng-disabled="fetching" ng-click="fetch()">
            <i class="glyphicon glyphicon-refresh spinner" ng-if="fetching"></i>
            <i class="glyphicon glyphicon-save" ng-if="!fetching"></i>
            {{fetching ? 'Načítám zprávy…' : 'Načíst zprávy'}}
        </a>
    </div>
    <div class="message" ng-repeat="message in messages">
        <h4 class="media-heading">
            {{message.subject}}
            <small>
                <span class="label sm" ng-class="{'label-info': message.type === 'outgoing', 'label-warning': message.type === 'incoming'}">
                    {{message.sender.fullName}}
                </span>
                &nbsp;
                {{message.createdAt|date:'d. M. yyyy'}}
            </small>
        </h4>
        <div class="content" ng-bind-html="message.content"></div>
        <div class="clearfix">
            <a ng-click="download(document.id)" class="label label-default" ng-repeat="document in message.documents">
                <i class="glyphicon glyphicon-file"></i>
                {{document.name}} ({{document.formattedSize}})
            </a>
        </div>
    </div>
</div>