#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	sender: novak-svoboda@markacz.com
	mailboxNames:
		inbox: INBOX
		accepted: Přijato systémem
		rejected: Odmítnuto systémem


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Presenter\*Presenter


session:
	expiration: 14 days


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	mailLibrary: greeny\MailLibrary\Extensions\MailLibraryExtension


doctrine:
	filters:
		expiredSessionFilter: Model\Sql\ExpiredSessionFilter
		expiredTokenFilter: Model\Sql\ExpiredTokenFilter
	metadata:
		Model: %appDir%/Model/Entity
	host: %database.host%
	user: %database.user%
	password: %database.password%
	dbname: %database.name%

mailLibrary:
	imap:
		username: %email.address%
		password: %email.password%
		host: %email.imap.host%
		ssl: %email.imap.ssl%

mail:
	username: %email.address%
	password: %email.password%
	host: %email.smtp.host%
	secure: %email.smtp.secure%
	smtp: true

services:
	router: Routing\RouterFactory::createRouter

	filters:
		factory: @Doctrine\ORM\EntityManagerInterface::getFilters
		setup:
			- enable(expiredSessionFilter)
			- enable(expiredTokenFilter)
		tags: [run]

	- Email\UserCreated\UserCreatedSender(..., ..., %sender%)
	- Email\UserCreated\ClientMessageSender(..., ..., %sender%)
	- Model\Service\MessageFetcher(%mailboxNames%)

	- Model\Service\Tokens
