#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Presenter\*Presenter


session:
	expiration: 14 days


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension


doctrine:
	filters:
		expiredSessionFilter: Model\Sql\ExpiredSessionFilter
	metadata:
		Model: %appDir%/Model/Entity


services:
	router: App\RouterFactory::createRouter
	filters:
		factory: @Doctrine\ORM\EntityManagerInterface::getFilters
		setup: [enable(expiredSessionFilter)]
		tags: [run]

