parameters:
	database:
		host: localhost
		user: root
		password:
		name: bp

	email:
		address: foobar@example.net
		password: password
		smtp:
			host: smtp.example.net
			secure: ssl
		imap:
			host: imap.example.net
			ssl: true
