{layout ../@employee.latte}

{block #content}

Dobrý den,
<p>
    v informačním systému advokátní kaceláře Novák & Partners byl zaregistrován požadavek na změnu hesla
    pro Váš uživatelský účet.
</p>
<p>
    Pro nastavení nového hesla klikněte na následující odkaz:
</p>
<p>
    <a href="{$baseUri}/#/set-password/{$token}">{$baseUri}/#/set-password/{$token}</a>
</p>
<p>
    Pokud o změnu hesla nestojíte, jednoduše tento e-mail ignorujte.
</p>
