<table class="table">
    <thead>
        <tr>
            <th><a href="#" ng-click="sort('fullName')">Jméno {{indicator('fullName')}}</a></th>
            <th><a href="#" ng-click="sort('dateOfBirth')">Datum narození {{indicator('dateOfBirth')}}</a></th>
            <th><a href="#" ng-click="sort('email')">E-mail {{indicator('email')}}</a></th>
            <th><a href="#" ng-click="sort('telephone')">Telefon {{indicator('telephone')}}</a></th>
            <th><a class="btn btn-info" href="#" ui-sref="app.client.add"><i class="glyphicon glyphicon-plus"></i> Nový klient</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="client in clients">
            <td>{{client.fullName}}</td>
            <td>{{client.dateOfBirth|date:'d. M. yyyy'}}</td>
            <td>{{client.email}}</td>
            <td>{{client.telephone}}</td>
            <td>
                <a class="btn btn-default" href="#" ui-sref="app.client.detail({id: client.id})">
                    <i class="glyphicon glyphicon-eye-open"></i> Detail
                </a>
                <a class="btn btn-default" href="#" ui-sref="app.client.edit({id: client.id})">
                    <i class="glyphicon glyphicon-pencil"></i> Upravit
                </a>
            </td>
        </tr>
    </tbody>
</table>