<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Novák & Svoboda
            </a>
        </div>
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="profile" ui-sref="app.user.profile">{{session.user.fullName}}</a></li>
                <li><a href="#" id="signOut" ng-click="signOut(); $event.preventDefault();">Odhlásit se</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <div class="row">
            <div class="absolute-wrapper"></div>
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="left-menu nav navbar-nav">
                            <li ng-class="{active: $state.includes('app.order')}"><a id="orders" ui-sref="app.order.grid"><span class="glyphicon glyphicon-briefcase"></span> Objednávky</a></li>
                            <li ng-class="{active: $state.includes('app.client')}"><a id="clients" ui-sref="app.client.grid"><span class="glyphicon glyphicon-user"></span> Klienti</a></li>
                            <li ng-class="{active: $state.includes('app.user')}" ng-if="session.user.role.slug === 'admin'"><a id="user-management" ui-sref="app.user.grid"><span class="glyphicon glyphicon-cog"></span> Správa uživatelů</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <div class="col-md-10 content">
        <app-alerts></app-alerts>

        <div class="panel panel-default">
            <div ui-view></div>
        </div>
    </div>
    <footer class="pull-left footer">
        <p class="col-md-12">
        <hr class="divider">
        Copyright © 2015 <a href="http://markacz.com">Tomáš Markacz</a>
        </p>
    </footer>
</div>