{layout ../@employee.latte}

{block #content}

Dobrý den,
<p>
    v informačním systému advokátní kaceláře Novák & Partners Vám byl vytvořen uživatelský účet. Než se budete moci
    do systému poprvé přihlásit, musíte si nastavit své heslo.
</p>
<p>
    Nastavení hesla provedete kliknutím na následující odkaz:
</p>
<p>
    <a href="{$baseUri}/#/set-password/{$token}">{$baseUri}/#/set-password/{$token}</a>
</p>
